@charset "UTF-8";
body {
    background-color:#393F53 ;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D5BB43;
}

div {
    text-align: center;
  }

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D5BB43;
}